/* Estilos do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ccfff7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid #71afab;
}

/* Estilos do container principal */
.container {
    background: rgb(178, 224, 241);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(28, 179, 154, 0.746);
    text-align: center;
    width: 100%;
    max-width: 350px;
}

/* Cabeçalho */
.header h1 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 1.8em;
}

/* Estilo dos labels */
label {
    font-size: 16px;
    text-align: left;
    color: #2d635f;
}

/* Estilo dos grupos de input */
.input-group,
.select-group,
.button-group {
    margin-bottom: 15px;
}

/* Grupo de seleção (select) */
.select-group {
    text-align: left;
}

/* Input de valor com símbolo */
.currency-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

#currencySymbol {
    margin-right: 8px;
    font-size: 1.8em;
    color: #2d858d;
}

/* Estilo dos campos de input */
input[type="text"], 
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

/* Botões */
button {
    padding: 10px 15px;
    background-color: #2d858d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-size: 1em;
}

button:hover {
    background-color: #71afab;
}

/* Estilo para resultado de conversão */
.result-group {
    margin-top: 10px;
    font-size: 1.2em;
    color: #507d86;
}

.button-Reset {
    margin-top: 10px;
}

/* Estilos específicos para a formatação */
.convert h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #2d635f;
}
